<%- include('partes/header.ejs')%> <%- include('partes/nav.ejs')%>

<div class="container text-center">
  <div class="row">
    <h3>Create Account</h3>
    <form action="/signup" method="post">
      <div class="col col-mb-3 col-xl-5 mx-auto">
        <label for="exampleInputName" class="form-label" name="name"
          >Name</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleInputName"
          name="name"
        />
      </div>
      <div class="col col-mb-3 col-xl-5 mx-auto">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="col col-mb-3 col-xl-5 mx-auto">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
        />
      </div>
      <div class="col col-mb-3 col-xl-5 mx-auto">
        <label for="exampleInputPassword1" class="form-label"
          >Confirm Password</label
        >
        <input type="password" class="form-control" name="confirmpassword" />
      </div>
      <br />
      <input type="submit" value="Create Account" class="btn btn-primary" />
      <br />
    </form>
    <br>
    <% if (error.length > 0) { %>
      <div class="alert alert-danger col col-mb-3 col-xl-5 mx-auto">
        <%= error %>
      </div>
      <% } %>
    <br />
    <div class="mx-auto">Already have account ? <a href="/login">Login</a></div>
  </div>
</div>

<%- include('partes//footer.ejs')%>
