<!-- <script src="/js/jquery.min.js"></script> -->

<div class="container footer">
	<div class="row">
		<div class="col-md-3 col-s-1 col-ms-1 patient">
			<h4>About Us</h4>
			<p>We are a local pharmacy whose goal is to provide a great patient experience and offer solutions to the providers whose patients we serve.  We want to build long term relationships with those in our community who can look to us for their healthcare needs.
			</p>
		</div>
		<div class="col-md-3 col-ms-1 patient">
			<h4>OUR SERVICES
			</h4>
			<p><a href="#">Compounding</a>
				<br>
				<a href="#">Delivery</a>
				<br>
				Drive-Thru
				<br>
				 Med Sync
				 <br>
				 Medication Therapy Mgmt
				 <br>
				  Special Packaging
				  <br>
				 Wellness and Nutraceuticals</p>
			
		</div>
		<div class="col-md-3 col-ms-1 patient">
			<h4>Download Our App
			</h4>
			<p>Request refills, set dose reminders and see your medication history from your mobile device.

			</p>
			<img src="/apple.png" alt="">
			<img src="/google.png" alt="">

		</div>
		<div class="col-md-3  col-s-1  col-ms-1 patient">
			<h4>Contact Us</h4>
			<img src="img2/home/beaker-logo.png" alt="">
			<p>P: (972) 972-4700</p>
			<p>F: (469) 907-1197</p>
			<p>7810 Eldorado Parkway</p>
			<p>Suite 200</p>
			<p>McKinney, Texas 75070</p>

		</div>
	</div>
</div>


<div class="cosial">
	<div class="container">
		<div class="row">
			<div class="col-md-2  icon-2">
				<div class="face">
				<a class="instgram" href="#"><i class="fab fa-facebook-f"></i> <span>face book</span> </a>
			</div>
			
			</div>
			<div class="col-md-2 icon-2">
				<div >
					<a class="instgram" href="#"><i class="fab fa-instagram"></i> <span>instgram</span> </a></div>
			</div>
			<div class="col-md-2 icon-2">
				<div class="twitter">
					<a class="instgram" href="#"><i class="fab fa-twitter"></i> <span>twitter</span> </a></div>
			</div>
					<div class="col-md-2 icon-2">
						<div class="telegram">
							<a class="instgram" href="#"><i class="fab fa-telegram"></i> <span>telegram</span> </a></div>
			</div>
	
	</div>

</div>

</div>

<script src="/js/popper.min.js"></script>
<!-- <script src="/js/bootstrap.min.js"></script> -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/js/all.min.js"></script>
</body>
</html>